/*//- 255,198,0 yellow
//- 0, 186, 0 green
//- 255, 48, 0 red
//- 155, 0, 194 purple
//- 0, 108, 230 blue
//- 100, 112, 118 grey
//- 252, 88, 181 pink
//- 0, 159, 153 cyan
//- 252, 107, 0 orange
//- 174, 183, 188 light grey*/
body {
  background-color: #8b857e;
  margin: 0;
  color: white;
  text-align: center;
  font-size: medium;
  font-weight: 300;
  font-family: Helvetica, arial, freesans, clean, sans-serif; }

header {
  padding: 19px 0 4px 0; }

section {
  font-size: 3em;
  width: 100%; }

.perspective {
  perspective: 800px;
  -webkit-perspective: 800px; }

.plane {
  transform: rotateX(35deg);
  -webkit-transform: rotateX(35deg); }

.feed {
  width: 40%;
  display: inline-block;
  vertical-align: top; }
  .feed > ul {
    vertical-align: top;
    list-style-type: none; }

li {
  margin: 10px;
  background-color: #333;
  border-radius: 4px;
  padding: 5px;
  text-decoration: none;
  word-wrap: break-word; }

footer {
  margin: 50px 0 10px 0;
  bottom: 0;
  width: 100%; }

header > img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }

img.social-icon {
  height: 25px;
  padding-top: 10px; }

a, a:link {
  color: #aeb7bc;
  text-decoration: none; }
