/*//- 255,198,0 yellow
//- 0, 186, 0 green
//- 255, 48, 0 red
//- 155, 0, 194 purple
//- 0, 108, 230 blue
//- 100, 112, 118 grey
//- 252, 88, 181 pink
//- 0, 159, 153 cyan
//- 252, 107, 0 orange
//- 174, 183, 188 light grey*/


body {
    background-color: rgb(0, 108, 230); 
    margin: 0;
    line-height: 4em;
    text-align: center;
    font-size: medium;
    font-weight: 300;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
}

header {
    background-color: rgb(252, 107, 0); 
    padding: 19px 0 4px 0;
}

section {
    font-size: 3em;
    width: 100%;
}

footer {
    background-color: rgb(0, 186, 0); 
    position: absolute;
    bottom: 0;
    width: 100%;
}

header>img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

section>a>img {
    height: 25px;
    padding-top: 10px;
}
#tweets>ul>li{
    list-style-type: none;
        display: inline;
            font-size: 0.4em;
                line-height: 1em;

}

a:-webkit-any-link {
        color: rgb(174, 183, 188);
}
